<template>
  <Loader :is-visible="isLoader" />
  <LayoutDefault :is-headline="false">
    <template #content>
      <div class="w-full h-full flex items-center aligned-items">
        <div class="max-w-md w-full m-auto">
          <div class="text-center font-bold text-2xl mb-4">{{ headlineText }}</div>
          <div class="flex flex-col items-center space-y-5 mb-4">
            <div class="flex items-center justify-center space-x-4">
              <label for="login" class="flex items-center cursor-pointer">
                <div class="relative">
                  <input
                    type="checkbox"
                    id="login"
                    name="formType"
                    class="sr-only"
                    v-model="isLogin"
                  />
                  <div class="block h-8 w-14 rounded-full bg-red-800"></div>
                  <div
                    class="dot absolute left-1 top-1 h-6 w-6 rounded-full bg-white transition"
                  ></div>
                </div>
              </label>
            </div>
          </div>

          <div v-if="!isLogin === true" class="text-center flex items-center already-logged text-gray-500 mb-4
          flex space-y-4">
            <span class="m-auto">Already registered? Switch to login</span>
          </div>

          <div class="bg-white p-8 rounded-lg shadow-md">
            <form @submit.prevent="loginUser">
              <div v-if="isLogin === true">
                <div class="mb-4">
                  <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
                  <input
                      :class="showLoginError ? 'border-red-900' : ''"
                      @focus="showLoginError = false"
                    id="email"
                    type="email"
                    v-model="email"
                    placeholder="Enter your email address"
                    class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  />
                </div>
                <div class="mb-6">
                  <label for="password" class="block text-gray-700 font-bold mb-2">Password</label>
                  <input
                      :class="showLoginError ? 'border-red-900' : ''"
                    id="password"
                    type="password"
                    v-model="password"
                    placeholder="Enter your password"
                    class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  />
                </div>
              </div>
              <div v-else>
                <div class="mb-4">
                  <label for="name" class="block text-gray-700 font-bold mb-2">Name</label>
                  <input
                    id="name"
                    type="text"
                    v-model="name"
                    placeholder="Enter your name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  />
                </div>
                <div class="mb-4">
                  <label for="email" class="block text-gray-700 font-bold mb-2">Email</label>
                  <input
                    id="email"
                    type="email"
                    v-model="email"
                    placeholder="Enter your email address"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  />
                </div>
                <div class="mb-6">
                  <label for="password" class="block text-gray-700 font-bold mb-2">Password</label>
                  <input
                    id="password"
                    type="password"
                    v-model="password"
                    placeholder="Enter your password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  />
                </div>
              </div>
              <div class="flex flex-col space-y-10 text-center items-center justify-center">
                <button
                  @click="loginUser"
                  type="submit"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                >
                  {{ isLogin ? 'Login' : 'Register' }}
                </button>
              </div>
            </form>
          </div>
        <div class="test flex ">
            <span class="text-gray-200 m-auto py-4 text-center items-center">
            For test purpose use test@test.com and test password
          </span>
        </div>
        </div>
      </div>
    </template>
  </LayoutDefault>
</template>

<script lang="ts">
import {computed, inject, ref} from 'vue'
import router, { RoutesEnum } from '@/router'
import Loader from '@/components/AppLoader.vue'
import LayoutDefault from '@/layout/LayoutDefault.vue'
import type UserManagementService from "@/pages/UserProfile/Services/UserManagementService";
import {PROVIDE_UMS_KEY} from "@/types/types";

export default {
  components: { LayoutDefault, Loader },
  setup() {
    const isLogin = ref<boolean>(false)
    const name = ref('')
    const email = ref('')
    const password = ref('')
    const isLoader = ref<boolean>(false)
    const userManagementService = inject<typeof UserManagementService>(PROVIDE_UMS_KEY);
    const showLoginError = ref<boolean>(false);

    const headlineText = computed(() => {
      if (isLogin.value) {
        return 'Login form'
      }
      return 'Registration form'
    })

    const loginUser = async () => {
      isLoader.value = true;
      try {
        const user = {
          email: email.value,
          password: password.value,
          name: name.value
        }
        const isLogged = userManagementService?.login(user);
        if(!isLogged) {
          showLoginError.value = true;
          return;
        }
        showLoginError.value = false;
        setTimeout(async () => {
          isLoader.value = false
          await router.push({
            name: RoutesEnum.MOVIES_PAGE
          })
        }, 1000)
      } catch (error) {
        console.error(error)
        isLoader.value = false
      }
      finally {
        isLoader.value = false;
      }
    }

    return {
      name,
      email,
      password,
      headlineText,
      isLoader,
      showLoginError,
      isLogin,
      loginUser
    }
  }
}
</script>
<style>
.aligned-items{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
input[type='checkbox']:checked + .block {
  background-color: #4f46e5;
}

input[type='checkbox']:checked + .block + .dot {
  transform: translateX(100%);
}
</style>
