<template>
  <LayoutDefault>
    <template #content>
        <div class="container mx-auto py-8">
          <div class="rounded-lg p-4">
            <h2 class="text-xl font-medium mb-4">Your Movie List</h2>
            <div class="overflow-x-auto">
              <table class="w-full border-collapse">
                <thead>
                  <tr>
                    <th class="border p-2">#</th>
                    <th class="border p-2">Title</th>
                    <th class="border p-2">Type</th>
                    <th class="border p-2">Year</th>
                    <th class="border p-2">Poster</th>
                    <th class="border p-2">Action</th>
                    <th class="border p-2">Your Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(movie, index) in movies" :key="movie.imdbID">
                    <td class="border p-2">{{ index + 1 }}</td>
                    <td class="border p-2">{{ movie.Title }}</td>
                    <td class="border p-2">{{ movie.Type }}</td>
                    <td class="border p-2">{{ movie.Year }}</td>
                    <td class="flex flex-row items-center justify-center border p-2">
                      <img :src="movie.Poster" alt="" class="h-16" />
                    </td>
                    <td class="border p-2">
                      <button
                        class="bg-red-800 text-white hover:bg-red-900 py-2 px-3 rounded-lg"
                        @click="removeMovie(movie)"
                      >
                        Remove
                      </button>
                    </td>
                    <td class="border p-2">
                      <div class="flex flex-row space-x-2">
                        <StarIcon class="w-6 h-6 text-xl font-bold text-yellow-300" />
                        <StarIcon class="w-6 h-6 text-xl font-bold text-yellow-300" />
                        <StarIcon class="w-6 h-6 text-xl font-bold text-yellow-300" />
                        <StarIcon class="w-6 h-6 text-xl font-bold text-gray-600" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                  class="w-full text-center flex flex-row items-center justify-center py-10 text-gray-100"
                  v-show="movies.length === 0"
              >
                No favorite movies...
              </div>
            </div>
          </div>
        </div>
    </template>
  </LayoutDefault>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref} from 'vue'
import LayoutDefault from '@/layout/LayoutDefault.vue'
import type {Movie} from '@/types/types'
import moviesService from '@/pages/MoviesPage/Services/MoviesService'
import {StarIcon} from '@heroicons/vue/24/solid'
export default defineComponent({
  components: { LayoutDefault, StarIcon },
  setup() {
    const movies = ref<Movie[]>([])
    const removeMovie = async (movie: Movie) => {
      moviesService.removeMovieFromFavorites(movie)
      movies.value = moviesService.favoritesMovies
    }

    onMounted(async () => {
      movies.value = moviesService.favoritesMovies
      console.log(movies.value)
    })

    return {
      removeMovie,
      movies
    }
  }
})
</script>
