<template>
  <PreviewMoviePage v-show="isModal" @close="closeModalMovieDetail" :movie-detail="movieDetail" />
  <Loader :is-visible="isLoader" />
  <LayoutDefault>
    <template #content>
      <div class="flex flex-row relative">
        <div
          class="w-full flex justify-center flex-col space-y-10 mx-auto px-4 py-12 sm:px-6 lg:py-16 lg:px-8 items-center"
        >
          <HeadlineText headline-title="Search Your Favorite Movies" />

          <LastSearchedMovies @fetch-your-favorites="fetchYourFavorites" :searchedMovies="searchedMovies" />
          <SearchInput v-model="movieInput" @search="fetchMovies" />

          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <div
              v-for="movie in movies"
              :key="movie?.imdbID"
              class="flex flex-col rounded-lg shadow-lg overflow-hidden"
            >
              <div
                class="scale-95 hover:scale-100 ease-in duration-300 rounded-lg border-gray-700 p-2"
              >
                <MovieItem
                  :movie="movie"
                  @add="addToFavourites"
                  @remove="removeFromFavorites"
                  @details="openModalMovieDetail"
                />
              </div>
            </div>
          </div>
          <NoMovies :display-no-items="displayNoItems" />
        </div>
      </div>
    </template>
  </LayoutDefault>
</template>

<script lang="ts">
import {computed, defineComponent, inject, ref} from 'vue'
import LayoutDefault from '@/layout/LayoutDefault.vue'
import type {Movie, MovieDetail} from '@/types/types'
import {PROVIDE_MOVIES_KEY} from "@/types/types";
import type MoviesService from "@/pages/MoviesPage/Services/MoviesService";
import MovieItem from '@/pages/MoviesPage/Components/MovieItem.vue'
import Loader from '@/components/AppLoader.vue'
import PreviewMoviePage from '@/pages/PreviewMoviePage/PreviewMoviePage.vue'
import SearchInput from '@/pages/MoviesPage/Components/SearchInput.vue'
import HeadlineText from '@/components/HeadlineText.vue'
import NoMovies from '@/pages/MoviesPage/Components/NoMovies.vue'
import {useStore} from "@/store/store";
import LastSearchedMovies from "@/pages/MoviesPage/Components/LastSearchedMovies.vue";

export default defineComponent({
  name: 'MovieSearch',
  components: {
    LastSearchedMovies,
    NoMovies,
    HeadlineText,
    SearchInput,
    Loader,
    PreviewMoviePage,
    MovieItem,
    LayoutDefault
  },
  setup() {
    const movies = ref<Movie[]>([]);
    const movieInput = ref<string>('');
    const displayNoItems = ref<boolean>(false);
    const isModal = ref<boolean>(false);
    const movieDetail = ref<MovieDetail | null>();
    const isLoader = ref<boolean>(false);
    const store = useStore();
    const moviesService = inject<typeof MoviesService>(PROVIDE_MOVIES_KEY);

    const fetchMovies = async () => {
      isLoader.value = true
      try {
        const fetchedMovies = await moviesService?.getPopularMovies(movieInput.value)
        if(fetchedMovies){
          movies.value = fetchedMovies;
        }
        else {
          displayNoItems.value = true
        }
        moviesService?.setSearchedMovie(movieInput.value);
      } catch (error) {
        console.error(error)
      } finally {
        isLoader.value = false
      }
    }

    const openModalMovieDetail = async (movie: Movie) => {
      isLoader.value = true
      try {
        movieDetail.value = await moviesService?.getMovieDetails(movie)
        store.selectMovie(movie);
        isModal.value = true
      } catch (error) {
        console.error(error)
      } finally {
        isLoader.value = false
      }
    }
    const closeModalMovieDetail = () => {
      movieDetail.value = null
      isModal.value = false
    }
    const addToFavourites = async (movie: Movie) => {
      await moviesService?.addMovieToFavourites(movie)
      const i = movies.value.findIndex((m)=> m.imdbID === movie.imdbID);
      if(i !== -1){
        movies.value[i].isFavorite = true;
      }
    }

    const removeFromFavorites = async (movie: Movie) => {
      await moviesService?.removeMovieFromFavorites(movie)
      const i = movies.value.findIndex((m)=> m.imdbID === movie.imdbID);
      if(i !== -1){
        movies.value[i].isFavorite = false;
      }
    }

    const searchedMovies = computed(() => {
      return moviesService?.searchedMovies;
    });

    const fetchYourFavorites = (movieString:string) => {
      movieInput.value = movieString;
      fetchMovies()
    };

    return {
      moviesService,
      movieInput,
      movies,
      displayNoItems,
      isModal,
      movieDetail,
      isLoader,
      searchedMovies,
      fetchYourFavorites,
      closeModalMovieDetail,
      openModalMovieDetail,
      fetchMovies,
      addToFavourites,
      removeFromFavorites
    }
  }
})
</script>
