<template>
  <LayoutDefault>
    <template #content>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="py-12">
          <h1 class="text-3xl font-bold mb-8">User Profile</h1>
          <div class="grid grid-cols-12 gap-6">

            <!-- Left column -->
            <div class="col-span-4">
              <div class="bg-white rounded-lg p-6 shadow-md">
                <div class="flex flex-col items-center">
                  <img
                    class="w-32 h-32 rounded-full mb-4 border-2 border-gray-200"
                    :src="user.profilePhoto"
                    alt="User profile photo"
                  />
                  <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ user.name }}</h2>
                  <p class="text-lg text-gray-600 mb-2">{{ user.location }}</p>
                  <hr class="my-4 w-full border-t border-gray-200" />
                  <div class="flex justify-between">
                    <div class="text-center">
                      <p class="text-gray-600 mb-2">Time spent watching</p>
                      <h2 class="text-2xl font-bold">{{ user.timeSpentWatching }}</h2>
                    </div>
                  </div>
                  <hr class="my-4 w-full border-t border-gray-200" />
                  <div class="text-center">
                    <a
                      href="#"
                      class="inline-block bg-gray-800 hover:bg-gray-700 text-white font-bold px-4 py-2 rounded-full transition duration-200 ease-in-out"
                    >
                      Edit Profile
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Middle column -->
            <div class="col-span-4">
              <div class="bg-gray-100 rounded-lg p-6 shadow-md">
                <h2 class="text-xl font-bold mb-6 text-gray-800">Favorite Movies</h2>
                <ul class="divide-y divide-gray-200">
                  <li v-for="movie in user.favoriteMovies" :key="movie.title">
                    <div class="py-4">
                      <div class="flex items-center justify-between">
                        <div class="flex items-center">
                          <span class="text-gray-500 mr-2 font-medium">{{ movie.rating }}</span>
                          <h3 class="font-bold text-gray-800">{{ movie.title }}</h3>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Right column -->
            <div class="col-span-4">
              <div class="bg-gray-100 rounded-lg p-6 shadow-md">
                <h2 class="text-xl font-bold mb-6 text-gray-800">Recent Activity</h2>
                <ul class="divide-y divide-gray-200">
                  <li v-for="activity in user.recentActivity" :key="activity.id">
                    <div class="py-4">
                      <div class="flex items-start">
                        <div class="mr-4">
                          <div
                            class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white"
                          >
                            {{ activity.date }}
                          </div>
                        </div>
                        <div class="flex-1">
                          <div class="flex items-center justify-between">
                            <h3 class="font-bold text-gray-800">{{ activity.title }}</h3>
                            <span class="text-sm font-medium text-gray-500"
                              >{{ activity.duration }} mins</span
                            >
                          </div>
                          <p class="text-gray-500">{{ activity.description }}</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!--Bottom -->
            <div class="col-span-12 lg:col-span-4">
              <div class="bg-white rounded-lg p-6 shadow-md">
                <h2 class="text-xl font-bold mb-6">Friends and Followers</h2>
                <div class="grid grid-cols-2 gap-4">
                  <div class="text-center" v-for="friend in user.friends" :key="friend.id">
                    <h3 class="text-2xl font-bold">{{ friend.name }}</h3>
                    <p class="text-gray-500">{{ friend.location }}</p>
                  </div>
                  <div class="text-center" v-for="follower in user.followers" :key="follower.id">
                    <h3 class="text-2xl font-bold">{{ follower.name }}</h3>
                    <p class="text-gray-500">{{ follower.location }}</p>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </template>
  </LayoutDefault>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref} from 'vue'
import LayoutDefault from '@/layout/LayoutDefault.vue'
import type {User} from "@/pages/UserProfile/Services/UserManagementService";
import {testUser} from "@/data/data";
import {useStore} from "@/store/store";

export default defineComponent({
  components: { LayoutDefault },
  setup() {
    const store = useStore();
    const loggedUser  = ref<User | null>();
    const user = ref(testUser)

    onMounted(()=>{
      loggedUser.value = store.getCurrentUser;
    })
    return {
      user
    }
  }
})
</script>
