<template>
  <div
    v-if="movieDetail"
    class="modal-overlay h-screen flex flex-col items-center justify-center"
  >
    <div
      class="modal-window relative w-11/12 sm:w-3/4 md:w-1/2 lg:w-1/3 bg-white rounded-lg shadow-md p-6"
    >
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-bold text-gray-800">{{ movieDetail.Title }}</h2>
        <XCircleIcon
          @click="closeModal"
          class="absolute cursor-pointer top-4 right-1 text-red-700 w-10 text-red-900 h-10 p-1 align-self:flex-end"
        />
      </div>
      <div class="flex flex-wrap justify-between">
        <div class="w-full md:w-1/2 mb-4 md:mb-0">
          <img
            class="w-full h-auto object-cover"
            :src="movieDetail.Poster"
            :alt="movieDetail.Title"
          />
        </div>
        <div class="w-full md:w-1/2">
          <p class="text-gray-800 font-bold mb-1">Year:</p>
          <p class="text-gray-700 mb-2">{{ movieDetail.Year }}</p>
          <p class="text-gray-800 font-bold mb-1">Rated:</p>
          <p class="text-gray-700 mb-2">{{ movieDetail.Rated }}</p>
          <p class="text-gray-800 font-bold mb-1">Runtime:</p>
          <p class="text-gray-700 mb-2">{{ movieDetail.Runtime }}</p>
          <p class="text-gray-800 font-bold mb-1">Genre:</p>
          <p class="text-gray-700 mb-2">{{ movieDetail.Genre }}</p>
          <p class="text-gray-800 font-bold mb-1">Director:</p>
          <p class="text-gray-700 mb-2">{{ movieDetail.Director }}</p>
          <p class="text-gray-800 font-bold mb-1">Writer:</p>
          <p class="text-gray-700 mb-2">{{ movieDetail.Writer }}</p>
        </div>
      </div>
      <div class="flex justify-end mt-6">
        <button
          @click="addToWatchlist(movieDetail)"
          class="bg-gray-800 text-white rounded-lg py-2 px-4 mr-2 hover:bg-gray-700"
        >
          Add to Watchlist
        </button>
        <button class="bg-gray-800 text-white rounded-lg py-2 px-4 hover:bg-gray-700">
          View Trailer
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { XCircleIcon } from '@heroicons/vue/24/outline'
import type { PropType } from 'vue'
import { defineComponent, ref } from 'vue'
import  moviesService  from '@/pages/MoviesPage/Services/MoviesService'
import type { MovieDetail } from '@/types/types'

export default defineComponent({
  components: {
    XCircleIcon
  },
  props: {
    movieDetail: {
      type: Object as PropType<MovieDetail>,
      required: false
    }
  },
  setup(props, { emit }) {
    const selectedMovie = ref<string | undefined>('')
    const movieUrl = ref<string | undefined>('')

    const closeModal = () => emit('close')
    const addToWatchlist = (movie: MovieDetail) => {
      moviesService.addMovieToFavouritesById(movie.imdbID)
      closeModal()
    }

    return {
      closeModal,
      addToWatchlist,
      selectedMovie,
      movieUrl
    }
  }
})
</script>
<style>
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-window {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}
</style>
