<template>
  <LayoutDefault>
    <template #content>
      <div class="container mx-auto px-4 py-8">
      <HeadlineText headline-title="Streaming Platforms" />
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div
            v-for="(platform, index) in streamingPlatforms"
            :key="index"
            class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <div
              class="h-48 bg-cover bg-contain bg-no-repeat bg-center"
              :style="{ backgroundImage: 'url(' + platform.logo + ')' }"
            ></div>
            <div class="px-4 py-3">
              <h2 class="text-lg font-semibold mb-2">{{ platform.name }}</h2>
              <div class="flex items-center justify-center mb-2">
                <span
                  class="px-2 py-1 rounded-lg uppercase text-xs font-semibold text-white mr-2"
                  :class="platform.subscription === 'Paid' ? 'bg-blue-500' : 'bg-green-500'"
                >
                  {{ platform.subscription }}
                </span>
                <span
                  v-if="platform.exclusiveContent"
                  class="px-2 py-1 rounded-lg uppercase text-xs font-semibold text-white mr-2 bg-yellow-500"
                >
                  Exclusive
                </span>
                <span
                  v-if="platform.freeTrial"
                  class="px-2 py-1 rounded-lg uppercase text-xs font-semibold text-white bg-purple-500"
                >
                  Free Trial
                </span>
              </div>
              <span
                class="block text-center bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline"
              >
                Go to {{ platform.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </template>
  </LayoutDefault>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import LayoutDefault from '@/layout/LayoutDefault.vue'
import HeadlineText from "@/components/HeadlineText.vue";
import {streamingPlatforms} from "@/data/data";
export default defineComponent({
  components: {HeadlineText, LayoutDefault },
  setup() {

    const columns = ['Name', 'Price']

    return {
      columns,
      streamingPlatforms,
    }
  }
})
</script>
