<template>
  <div
    v-show="isVisible"
    class="fixed top-0 left-0 w-screen h-screen flex justify-center items-center z-50"
  >
    <div class="absolute w-full h-full bg-gray-800 opacity-75"></div>
    <div class="bg-white p-5 rounded-lg">
      <div class="flex justify-center items-center">
        <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
        <div class="ml-3">Loading...</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    isVisible: {
      type: Boolean,
      default: false
    }
  },
  setup() {
    return {}
  }
})
</script>

<style>
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
