<template>
  <div class="hover:scale-125 transition cursor-pointer flex flex-wrap gap-2">
    <div
        :style="{color: textColor, backgroundColor: backgroundColor}"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg">{{hashtagText}}</div>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref} from 'vue'
import {invertHex} from "@/helpers/helper";

export default defineComponent({
  props:{
    text:{
      type: String,
      default:'',
      required: true,
    }
  },
  setup(props) {
    const backgroundColor = ref<string>('');
    const textColor = ref<string>('');

    const hashtagText = computed(()=>{
      return `#${props.text}`
    })
    const generateBgColor = () => {
      backgroundColor.value = '#' + Math.random().toString(16).substr(-6);
      textColor.value = invertHex(backgroundColor);
    }

    onMounted(()=>{
      generateBgColor();
    })
    return {
      backgroundColor,
      textColor,
      hashtagText,
    }
  }
})
</script>
