<template>
  <h1 class="text-3xl font-extralight text-white tracking-tight mb-8">
    {{ headlineTitle }}
  </h1>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    headlineTitle: {
      type: String,
      required: true
    }
  },
  setup() {
    return {}
  }
})
</script>

<style scoped></style>
