<template>
  <div v-once class="py-5 px-6 flex flex-row space-x-8 items-center">
    <PresentationChartLineIcon
      @click="navigateHome()"
      class="w-16 h-16 text-xl font-bold text-white mr-auto"
    />
    <button
      class="border border-white hover:bg-gray-300 hover:text-gray-900 py-2 px-4 rounded-lg"
      @click="viewWatchList()"
    >
      View Watchlist
    </button>
    <button
      class="border border-white hover:bg-gray-300 hover:text-gray-900 py-2 px-4 rounded-lg"
      @click="searchMovies()"
    >
      Find your movie
    </button>
    <button
      class="border border-white hover:bg-gray-300 hover:text-gray-900 py-2 px-4 rounded-lg"
      @click="streamingPlatforms()"
    >
      Streaming Platforms
    </button>
    <div class="cursor-pointer flex flex-col space-y-2 items-center justify-center overflow-hidden">
      <img
        @click="navigateToUserProfile"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        alt="user"
        class="object-cover avatar rounded-full"
      />
      <span class="text-sm">{{ fullName }}</span>
    </div>
    <div class="logout flex flex-col space-y-2">
    <ArrowRightOnRectangleIcon
        @click="logoutUser()"
        class="cursor-pointer w-10 h-10 font-bold text-gray-200 mr-auto"
    />
      <span class="text-sm">Logout</span>
    </div>
  </div>
</template>

<script lang="ts">
import router, {RoutesEnum} from '@/router'
import {computed, defineComponent, onMounted, ref} from 'vue'
import {ArrowRightOnRectangleIcon, PresentationChartLineIcon} from '@heroicons/vue/24/outline'
import type {User} from "@/pages/UserProfile/Services/UserManagementService";
import userManagementService from "@/pages/UserProfile/Services/UserManagementService";
import {useStore} from "@/store/store";

export default defineComponent({
  components: {
    PresentationChartLineIcon,
    ArrowRightOnRectangleIcon,
  },
  setup() {
    const store = useStore();
    const currentUser = ref<User | undefined>();
    const navigateHome = () => router.push({ name: RoutesEnum.MOVIES_PAGE })
    const viewWatchList = () => router.push({ name: RoutesEnum.WATCH_LIST })
    const streamingPlatforms = () => router.push({ name: RoutesEnum.STREAMING_PLATFORM })
    const searchMovies = () => router.push({ name: RoutesEnum.MOVIES_PAGE })
    const navigateToUserProfile = () => router.push({ name: RoutesEnum.USER_PROFILE_PAGE })

    const logoutUser = () => {
      userManagementService.logout();
      router.push({
        name: RoutesEnum.HOME_PAGE,
      })
    }

    const fullName = computed(() => {
        return userManagementService.currentUserFullName;
    });

    onMounted(()=>{
      currentUser.value = store.getCurrentUser;
    })

    return {
      currentUser,
      fullName,
      logoutUser,
      navigateHome,
      navigateToUserProfile,
      viewWatchList,
      streamingPlatforms,
      searchMovies
    }
  }
})
</script>

<style scoped>
.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
</style>
