<template>
  <div class="w-full flex flex-row hashtags items-center justify-center space-x-5 overflow-x-auto py-5">
    <HashTag  @click="fetchYourFavorites(item)" v-for="item in searchedMovies" :key="item"  :text="item" />
  </div>
</template>

<script lang="ts">
import type {PropType} from 'vue'
import {defineComponent} from 'vue'
import HashTag from "@/components/HashTag.vue";
export default defineComponent({
  components: {HashTag},
  emits:['fetchYourFavorites'],
  props:{
    searchedMovies:{
      type: Array as PropType<String []>,
      required: true,
      default:  () => [''],
    }
  },
  setup(props, {emit}){
    const fetchYourFavorites = (movieName:string) => {
      emit('fetchYourFavorites', movieName);
    }

    return{
      fetchYourFavorites,
    }
}
})
</script>
