<template>
    <div  class="flex-shrink-0">
      <MovieImage :movie="movie" @details="getDetails" />
    </div>
    <div class="flex-1 bg-gray-800 p-6 flex flex-col justify-between">
      <div class="flex-1">
        <div class="block mt-2 items-center flex flex-col">
          <p class="text-xl font-semibold text-white">{{ movie.Title }}</p>
          <p class="mt-3 text-base text-gray-300">{{ movie.Type }}</p>
          <HeartIcon
            @click="addToFavorites(movie)"
            v-show="!movie.isFavorite"
            :class="!movie.isFavorite ? 'animate-add' : ''"
            class="text-green-400 w-10 h-10 p-1 align-self:flex-end"
          />
          <XCircleIcon
            @click="removeFromFavorites(movie)"
            v-show="movie.isFavorite"
            :class="movie.isFavorite ? 'animate-add' : ''"
            class="text-red-700 w-10 h-10 p-1 align-self:flex-end"
          />
        </div>
      </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import type { PropType } from 'vue'
import type { Movie } from '@/types/types'
import { HeartIcon, XCircleIcon } from '@heroicons/vue/24/outline'
import MovieImage from "@/pages/MoviesPage/Components/MovieImage.vue";

export default defineComponent({
  components: {
    MovieImage,
    HeartIcon,
    XCircleIcon
  },
  props: {
    movie: {
      type: Object as PropType<Movie>,
      required: true
    }
  },
  emits: ['add', 'remove', 'details'],
  setup(props, { emit }) {
    const addToFavorites = (movie: Movie) => emit('add', movie)
    const removeFromFavorites = (movie: Movie) => emit('remove', movie)
    const getDetails = (movie: Movie) => emit('details', movie)

    return {
      addToFavorites,
      removeFromFavorites,
      getDetails
    }
  }
})
</script>
<style>

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-add {
  animation: append-animate .2s linear;
}
</style>
