<template>
  <img
    :class="movie.Poster === 'N/A' ? 'blur-image' : ''"
    class="image w-full object-cover"
    @click="getDetails(movie)"
    :src="movie.Poster"
    alt="movie"
  />
</template>

<script lang="ts">
import type {PropType} from 'vue'
import {defineComponent} from 'vue'
import type {Movie} from '@/types/types'

export default defineComponent({
  props: {
    movie: {
      type: Object as PropType<Movie>,
      required: true,
    }
  },
  emits: ['details'],
  setup(props, { emit }) {
    const getDetails = (movie: Movie) => emit('details', movie);

    return {
      getDetails,
    }
  }
})
</script>

<style>
.blur-image {
  filter: blur(8px);
  -webkit-filter: blur(24px);
}
.image{
  height: 250px;
}
</style>
