<template>
  <span class="text-3xl mx-auto items-center text-red-700" v-show="displayNoItems">
    No movies found!
  </span>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    displayNoItems: {
      type: Boolean,
      default: false
    }
  },
})
</script>
