<template>
  <div class="flex w-full items-center bg-white shadow-sm px-4 py-3 rounded-full">
    <input
      :value="modelValue"
      class="text-center bg-transparent text-black outline-none w-full text-sm px-2 py-1"
      type="text"
      placeholder="Search"
      @input="$emit('update:modelValue', $event.target.value)"
      @keyup.enter="search"
    />
    <button @click="search" class="flex items-center justify-center ml-2">
      <svg
        class="h-10 w-10 text-gray-400"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path d="M21 21l-4.35-4.35"></path>
        <path d="M15.5 11a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0z"></path>
      </svg>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import _ from 'lodash-es';
export default defineComponent({
  emits: ['search', 'update:modelValue'],
  props: {
    modelValue: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const searchTerm = ref<string>('')

    const search = _.debounce(() => {
      emit('search', searchTerm.value)
    }, 500)

    return {
      search,
      searchTerm
    }
  }
})
</script>
