@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply h-full;
  font-family: sans-serif;
  --layout-horizontal-gap: 1rem;
  --layout-vertical-gap: 2rem;
}
html, body {
  height: 100%;
}


.layout-container {
  @apply px-4 sm:px-6 md:px-8 lg:px-12 w-full;
}
