<template>
  <LayoutDefault :isHeadline="false">
    <template #content>
      <div
        class="transition-transform duration-500 delay-500 ease-in-out transform-gpu bg-gray-100
         min-h-screen bg-cover bg-center flex flex-col justify-center items-center"
        :style="`background-image: url(${BackgroundImageUrl})`"
        @click="startExperience"
        :class="{ 'translate-x-full': animate }"
      >
        <div
          class="p-2 transition-opacity duration-1000 delay-1000 transform-gpu slide-in-bottom"
        >
          <div class="text-white text-center">
            <h1 class="text-5xl font-bold mb-6">Find your best movie</h1>
            <p class="text-2xl mb-10">Simple application for lovers of Movies</p>
            <button
              @click="startExperience"
              class="bg-white text-gray-800 font-bold py-3 px-6 rounded-full hover:bg-gray-200"
            >
              Explore world of movies
            </button>
          </div>
        </div>
      </div>
    </template>
  </LayoutDefault>
</template>

<script lang="ts">
import {defineComponent, onMounted, ref} from 'vue'
import {useStore} from '@/store/store'
import LayoutDefault from '@/layout/LayoutDefault.vue'
import router, {RoutesEnum} from '@/router'
import userManagementService from "@/pages/UserProfile/Services/UserManagementService";
import BackgroundImageUrl from '@/assets/homepage_background.jpg';

export default defineComponent({
  components: {
    LayoutDefault
  },
  setup() {
    const isModal = ref<boolean>(false)
    const serverVersion = ref<string>('')
    const store = useStore()
    const animate = ref<boolean>(false)

    const startExperience = () => {
      animate.value = true;
      const isUserAlreadyLoggedIn = userManagementService.userIsLogged;
      if(!isUserAlreadyLoggedIn){
        setTimeout(()=>{
          router.push({
            name: RoutesEnum.LOGIN_PAGE
          })
        }, 1500)
      }
      else{
        setTimeout(()=>{
          router.push({
            name: RoutesEnum.MOVIES_PAGE
          })
        }, 1500)
      }
    }

    onMounted(async () => {
      serverVersion.value = store.getServerVersion
    })

    return {
      isModal,
      serverVersion,
      animate,
      BackgroundImageUrl,
      startExperience,
    }
  }
})
</script>
<style>
.slide-in-bottom {
  opacity: 1;
  transform: translateY(2rem);
}

.slide-in-bottom.animate {
  opacity: 1;
  transform: translateY(0);
}
a {
  color: #4dc6e9;
  text-decoration: none;
}

a:hover {
  color: #22a7f0;
  text-decoration: underline;
}
.animation-pulse {
  box-shadow: 0 0 0 20px rgba(229, 62, 62, 0.5);
  transform: scale(0.8);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  65% {
    transform: scale(1.2);
    box-shadow: 0 8px 8px 8px rgba(52, 172, 225, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 3px 4px 0 rgba(52, 172, 224, 0);
  }
}
</style>
