<template>
  <div>
   // implement ui list here
  </div>
</template>

<script lang="ts">
import {defineComponent, inject, onMounted, ref} from 'vue'
import type UserManagementService from "@/pages/UserProfile/Services/UserManagementService";
import type { User } from "@/pages/UserProfile/Services/UserManagementService";
import {PROVIDE_UMS_KEY} from "@/types/types";

export default defineComponent({
  setup() {
    const loggedUser  = ref<User | null>();

    onMounted(()=>{
      const userManagementService = inject<typeof UserManagementService>(PROVIDE_UMS_KEY);
      loggedUser.value = userManagementService?.getCurrentLoggedUser();
    })

    return {
      loggedUser,
    }
  }
})
</script>
