<template>
  <div class="min-h-full min-w-full bg-gray-900 text-gray-200">
    <div v-show="isHeadline" class="headline">
      <MainHeadline />
    </div>
    <slot name="content"></slot>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import MainHeadline from '@/components/MainHeadline.vue'

export default defineComponent({
  props:{
    isHeadline:{
      type: Boolean,
      default: true,
    }
  },
  components: {
    MainHeadline
  },
})
</script>
